.app {
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  width: 510px;
  border-radius: 10px;
  padding: 3rem;
  text-align: center;
}

.amount-card {
  background-color: #14b789;
  color: white;
  font-size: 20px;
  height: 150px;
  margin-top: 20px;
  border-radius: 5px;
}

.card-text {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.total-amount {
  font-size: 40px;
  font-weight: 500;
}

.text-fields {
  margin-top: 40px;
}

.input {
  margin-bottom: 30px;
}

.outlined-basic {
  width: 510px;
}

.btn {
  width: 250px;
  height: 70px;
}